name: Deploy to vercel

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, reopened]
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    outputs:
      skip_step: ${{ steps.check_user.outputs.skip }}
    steps:
      - name: Call Webhook
        if: steps.check_user.outputs.skip != 'true'
        run: curl "https://api.vercel.com/v1/integrations/deploy/prj_pxiOpnzRLHUFhFgJGFvueLWwIp7T/I25lumcOHq"
