name: Deploy to vercel

on:
  push:
    branches: ["master"]
  pull_request:
    types: [opened, reopened]
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Call Webhook
        run: curl "https://api.vercel.com/v1/integrations/deploy/prj_pxiOpnzRLHUFhFgJGFvueLWwIp7T/I25lumcOHq"
